# Jason Samuel Suwito

## Research question/interests

#### To what extent does the correlation exist between BMI, Health Care Cost, and Income?
For the first correlation (To what extent does BMI affect Health Care Cost?), I am planning to create a scatter plot with the x-axis representing the BMI and y-axis representing the health care cost. For the second correlation (To what extent does Income affect BMI?), I am also planning to create a scatter plot with the x-axis representing the Income and the y-axis representing the BMI. For each of the relationships, I will analyze the correlation coefficient value to see the level of correlation between the independent and dependent variables. A high correlation coefficient will indicate that there is a strong relationship between the independent and dependent variables while a low correlation coefficient value will indicate that the relationship is weak. 

#### What age group has the worst BMI compared to other age groups? 
For this question, I will create a bar graph with the x-axis representing the age groups and the y-axis representing BMI. To preserve the proportionality of the graph, the age groups will be divided into equal intervals (i.e. interval of 3 years, 10-13, 13-16, 16-19, 20-23, and so on). The determination of the intervals will be based on research of scientific journals. The age group with the lowest bar will be determined to be the age group that has the worst BMI.

## Data Import

In [3]:
import pandas as pd

In [4]:
healthcost = pd.read_csv("../data/raw/medical_expense.csv")
healthcost

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [5]:
income = pd.read_csv("../data/raw/adult_income.csv")
income

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
32557,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32558,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32559,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32560,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K

### RQ1: To what extent does the correlation exist between BMI, Health Care Cost, and Work Hours per week?

In [32]:
health_filtered = healthcost.drop(['sex','children', 'smoker', 'region'], axis = 1)
health_filtered.dropna
health_filtered

      age     bmi      charges
0      19  27.900  16884.92400
1      18  33.770   1725.55230
2      28  33.000   4449.46200
3      33  22.705  21984.47061
4      32  28.880   3866.85520
...   ...     ...          ...
1333   50  30.970  10600.54830
1334   18  31.920   2205.98080
1335   18  36.850   1629.83350
1336   21  25.800   2007.94500
1337   61  29.070  29141.36030

[1338 rows x 3 columns]

In [33]:
income_filtered = income.drop(['workclass', 'fnlwgt', 'education', 'education.num','marital.status','occupation','relationship','race','sex','capital.gain','capital.loss','native.country', 'income'], axis = 1)
income_filtered.dropna
income_filtered

       age  hours.per.week
0       90              40
1       82              18
2       66              40
3       54              40
4       41              40
...    ...             ...
32556   22              40
32557   27              38
32558   40              40
32559   58              40
32560   22              20

[32561 rows x 2 columns]

In [34]:
health_filtered.describe()

               age          bmi       charges
count  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397  13270.422265
std      14.049960     6.098187  12110.011237
min      18.000000    15.960000   1121.873900
25%      27.000000    26.296250   4740.287150
50%      39.000000    30.400000   9382.033000
75%      51.000000    34.693750  16639.912515
max      64.000000    53.130000  63770.428010

In [35]:
income_filtered.describe()

                age  hours.per.week
count  32561.000000    32561.000000
mean      38.581647       40.437456
std       13.640433       12.347429
min       17.000000        1.000000
25%       28.000000       40.000000
50%       37.000000       40.000000
75%       48.000000       45.000000
max       90.000000       99.000000

In [36]:
healthByAge = health_filtered.groupby(health_filtered['age']).mean()
healthByAge

           bmi       charges
age
18   31.326159   7086.217556
19   28.596912   9747.909335
20   30.632759  10159.697736
21   28.185714   4730.464330
22   31.087679  10012.932802
23   31.454464  12419.820040
24   29.142679  10648.015962
25   29.693929   9838.365311
26   29.428929   6133.825309
27   29.333571  12184.701721
28   29.482143   9069.187564
29   29.383148  10430.158727
30   30.557593  12719.110358
31   29.918333  10196.980573
32   31.597692   9220.300291
33   31.163077  12351.532987
34   30.274038  11613.528121
35   31.394800  11307.182031
36   29.374200  12204.476138
37   31.216600  18019.911877
38   28.996600   8102.733674
39   29.910200  11778.242945
40   30.139074  11772.251310
41   31.506852   9653.745650
42   30.328148  13061.038669
43   30.204444  19267.278653
44   30.844259  15859.396587
45   29.778966  14830.199856
46   31.340862  14342.590639
47   30.664310  17653.999593
48   31.925690  14632.500445
49   30.313929  12696.006264
50   31.132241  15663.003301
51   31.727069  15682.255867
52   32.936034  18256.269719
53   30.360893  16020.930755
54   31.234286  18758.546475
55   31.950000  16164.545488
56   31.600962  15025.515837
57   30.844423  16447.185250
58   32.718200  13878.928112
59   30.572000  18895.869532
60   30.332826  21979.418507
61   32.548261  22024.457609
62   32.342609  19163.856573
63   31.923478  19884.998461
64   32.976136  23275.530837

In [37]:
hoursByAge = income_filtered.groupby(income_filtered['age']).mean()
hoursByAge

     hours.per.week
age
17        21.367089
18        25.912727
19        30.678371
20        32.280212
21        34.034722
..              ...
85        29.333333
86        40.000000
87         2.000000
88        40.000000
90        36.813953

[73 rows x 1 columns]

In [38]:
pd.merge(healthByAge, hoursByAge, how='inner', on='age')

           bmi       charges  hours.per.week
age
18   31.326159   7086.217556       25.912727
19   28.596912   9747.909335       30.678371
20   30.632759  10159.697736       32.280212
21   28.185714   4730.464330       34.034722
22   31.087679  10012.932802       35.171242
23   31.454464  12419.820040       36.718358
24   29.142679  10648.015962       39.088972
25   29.693929   9838.365311       40.007134
26   29.428929   6133.825309       41.064968
27   29.333571  12184.701721       42.039521
28   29.482143   9069.187564       42.027682
29   29.383148  10430.158727       42.365314
30   30.557593  12719.110358       42.167247
31   29.918333  10196.980573       42.877252
32   31.597692   9220.300291       42.878019
33   31.163077  12351.532987       42.965714
34   30.274038  11613.528121       42.937923
35   31.394800  11307.182031       43.908676
36   29.374200  12204.476138       43.257238
37   31.216600  18019.911877       43.706294
38   28.996600   8102.733674       44.053204
39   29.910200  11778.242945       43.693627
40   30.139074  11772.251310       42.438287
41   31.506852   9653.745650       43.105198
42   30.328148  13061.038669       43.212821
43   30.204444  19267.278653       43.250649
44   30.844259  15859.396587       44.129834
45   29.778966  14830.199856       43.294278
46   31.340862  14342.590639       42.915875
47   30.664310  17653.999593       43.187853
48   31.925690  14632.500445       43.211786
49   30.313929  12696.006264       43.753899
50   31.132241  15663.003301       43.953488
51   31.727069  15682.255867       43.284034
52   32.936034  18256.269719       42.989540
53   30.360893  16020.930755       43.303879
54   31.234286  18758.546475       42.580723
55   31.950000  16164.545488       42.279236
56   31.600962  15025.515837       42.060109
57   30.844423  16447.185250       42.460894
58   32.718200  13878.928112       40.855191
59   30.572000  18895.869532       41.969014
60   30.332826  21979.418507       40.541667
61   32.548261  22024.457609       38.800000
62   32.342609  19163.856573       38.965116
63   31.923478  19884.998461       37.000000
64   32.976136  23275.530837       34.495192